body{
    background: #676663;
}
strong{
    color: #44220C;
}
.workspace_filler{
	width: 1080px;
    height: 1070px;	
	background: #676663;
}
@media (min-width: 730px) {
  .container {
    max-width: 800px;
  }
}
.worksheet{
	width: 800px;
    height: 1070px;    
    background-color: #F7F4E5;    
}
.worksheetheader{
	font-size: 22px;
    padding: 2px;
    font-family: Georgia, serif;
    line-height: 40px;
    font-weight: normal;
    background-color: #44220C;
    color: #F7F4E5;
}
.textcontainer{
    width: 780px;
}
.textstyle1{
	font-size: 16px;
    padding: 2px;
    font-family: Georgia, serif;
    line-height: 18px;    
}
.textstyle2{
	font-size: 14px;
    padding: 2px;
    font-family: Georgia, serif;
    line-height: 18px;
} 
